/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Variables added to manage fonts and colour scheme*/
/*Root*/
:root {
    --primary-font: "kanit";
    --secondary-font: "Source-sans-3";
    --primary-color: #275591;
    --secondary-color: #BFC1C5;
    --highlight-color: #96B0C9;
    --highlight-color-light: #9EBFD1;
    --lowlight-color: #161412;
}

/*Global styles*/
body {
    font-family: var(--primary-font);
    background-color: var(--lowlight-color); /*Changed background color*/
}

h1,
h2,
h3 {
    font-family: var(--secondary-color);
}

.heading {
    color: var(--highlight-color-light);
}


/*Navigation*/
#navigation {
    background-color: var(--highlight-color-light);
    color: var(--lowlight-color);  /*Changed from 40px to ensure responsiveness on mobile devices*/
    font-family: var(--primary-font);
}
/*targeted bootstrap class to change color when mouse hovers over button*/
.nav-link:hover:hover {
    color: var(--primary-color);
}

.booking-button {
    background-color: var(--lowlight-color);
    border-radius: 4rem;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color); /*Added a border to make button stand out from other nav bar items*/
    max-width: 14%; /*Changed to % to ensure responsiveness on mobile devices*/
    text-align: center; /*Align text in the middle of button*/
}

.booking-button-large {  /*Class added to target larger button on header*/
    height: 60%;
    background-color: var(--lowlight-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 4rem;
    text-align:center;
    max-width: 40%;
    
}

/*Target custom class to change color on button when mouse hovers over*/

.booking-button:active {
    background-color: var(--highlight-color);
    color: var(--lowlight-color);
    text-transform: uppercase;
}

.logo {
    max-height: 8%;
        /*Class added to target the size of the logo for the navbar*/
      
}

.logo-header {
    max-height: 20vh;
    opacity: 70%;     /*Class added to target the size, width and opacity of the logo for the header*/
    padding: 1rem;   
    margin-top: 2rem; 
}
/*Header section*/
header {
    background: url(../images/hero-image.png); /*Background image added to create hero image*/
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--highlight-color);
}

/*Change text color and background color to help heading standout*/
#header h1 {
    color: var(--primary-color);
    background-color: rgba(158, 191, 209, 0.74); /*Change to rgba to target opacity of background color*/
    back
}

/*Grid visualisation CSS for testing
.container,
.row {
    border:2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgreen;
}*/


/*Media queries*/
/*Small devices (laptops, 576px and up) */
@media screen and (min-width: 576px)  {
    body { margin: 0;
    }
}
/*Large devices (laptops, 992px and up) */
/*Media query to address the positioning of the booking button across different screen sizes (mobile first approach)*/
@media screen and (min-width: 992px)  {
    .booking-button  {max-width: 100%;
        max-height: 10vh;
    }
    #navigation {
        max-height: 10vh;
    }
}