/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Variables added to manage fonts and colour scheme*/
/*Root*/
:root {
    --primary-font: "kanit";
    --secondary-font: "Source-sans-3";
    --primary-color: #275591;
    --secondary-color: #BFC1C5;
    --highlight-color: #96B0C9;
    --highlight-color-light: #9EBFD1;
    --lowlight-color: #161412;
}

/*Global styles*/
body {
    font-family: var(--primary-font);
    background-color: var(--lowlight-color); /*Changed background color*/
    position: relative; /*Added position:relative and margin to position content underneath fixed navbar*/
    margin-top: 4rem; /*Changed margin to margin top to solve issue with footer*/
}

h1,
h2,
h3,
h5 {
    font-family: var(--secondary-color);
    margin-bottom: 2rem;
    
}

h1,
h2 {
    padding-left: 0.65rem; /*Added to give space on headings*/
    padding-bottom: 0.43rem;
}
.heading {
    color: var(--highlight-color-light);
}

.padding-3 {
padding-top:3rem;
}

/*Navigation*/
#navigation {
    background-color: var(--highlight-color-light);
    color: var(--lowlight-color);  /*Changed from 40px to ensure responsiveness on mobile devices*/
    font-family: var(--primary-font);
    }
/*targeted bootstrap class to change color when mouse hovers over button*/
.nav-link:hover:hover {
    color: var(--primary-color);
}

.booking-button {
    background-color: var(--lowlight-color);
    border-radius: 12px;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color); /*Added a border to make button stand out from other nav bar items*/
    max-width: 14%; /*Changed to % to ensure responsiveness on mobile devices*/
    text-align: center; /*Align text in the middle of button*/
}

.booking-button-large {  /*Class added to target larger button on header*/
    height: 60%;
    background-color: var(--lowlight-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 4rem;
    text-align:center;
    max-width: 20%;
}

.fixed-top {
    padding: 0;/*Added to remove padding from navbar*/
}
/*Target custom class to change color on button when mouse hovers over*/

.booking-button:active {
    background-color: var(--highlight-color);
    color: var(--lowlight-color);
    text-transform: uppercase;
}

/*Class added to target the size of the logo for the navbar*/    
.logo {
    max-height: 8%;  
}

.logo-header {
    max-height: 20vh;
    opacity: 70%;     /*Class added to target the size, positioning and opacity of the logo for the header*/
    padding: 1rem;   
    margin-top: 2rem; 
}
/*Header section*/
header {
    background: url(../images/hero-image.png); /*Background image added to create hero image*/
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--highlight-color);
}

/*Change text color and background color to help heading standout*/
#header h1 {
    color: var(--primary-color);
    background-color: rgba(158, 191, 209, 0.74); /*Change to rgba to target opacity of background color*/
}

/*Sports section*/
#sports {
    color: var(--secondary-color);
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#sports h1 {
    color: var(--highlight-color-light);
    background-color: rgba(39, 85, 145, 0.32); /*Added to give background colour to heading and make it stand out. Colour from the colour scheme used but rgba selected to change opacity*/
    border-radius: 4px;
    border: 2px solid var(--secondary-color);
}

#sports .card {
    background-color: var(--highlight-color-light);
    margin-bottom: 1rem; /*Added to provide spacing between cards on when stacked on mobile devices*/
    border-radius: 0; /*Added to make cards sqaure to align with header styling*/
}

#sports .card li {
    background-color: var(--highlight-color);
}

#sports .card .booking-button {  /*Added to move button on cards to the right of the button*/
    float: right; 
    margin-right: 0.7rem;
    padding: 0.42rem; /*Added to make button less cramped*/
}

.card-title {
    background-color: rgba(39, 85, 145, 0.32); /*Added to give background colour heading to make it stand out more, colour from the colour scheme used but rgba selected to change opacity*/
    border-radius: 4px;
    border: 2px solid var(--secondary-color);
}

.list-group-item {
    background-color: rgba(39, 85, 145, 0.32); /*Added to give background colour to title of cards to seperate text, colour from the colour scheme used but rgba selected to change opacity*/
    border-radius: 4px;
    border: 2px solid var(--secondary-color);
}
/*Services section*/
#services {
    color: var(--secondary-color);
    
}

#services
h1 {
    color: var(--highlight-color-light);
    background-color: rgba(39, 85, 145, 0.32); /*Added to give background colour to title of cards to seperate text, colour from the colour scheme used but rgba selected to change opacity*/
    border-radius: 4px;
    border: 2px solid var(--secondary-color);
}

#services 
h3,
h5 { 
  color: var(--highlight-color);
}

/*Accordion*/
#services-accordion { /* Change text color, custom class*/
    color: var(--highlight-color-light);
}
/*Change paragraph colour within accordion section of services using custom ID*/
#services-accordion p {
    margin-bottom: 22px;
    color: var(--highlight-color);
}

.accordion-button { /*Change the colour of accordion button when closed to align with colour scheme*/
    background-color: var(--highlight-color);
    color: var(--lowlight-color);
}

.accordion-body {
    background-color: var(--lowlight-color);
    color: var(--secondary-color);
}

/*Footer*/
#footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-top: 2rem;
}

#footer h2 {
    background-color: rgba(150, 176, 201, 0.32); /*Added to give background colour to title of cards to seperate text, colour from the colour scheme used but rgba selected to change opacity*/
    border-radius: 4px;
    border: 2px solid var(--secondary-color);
}

/*Change the colour of social links to match colour scheme*/
.socials {
    background-color: var(--highlight-color-light);
    color: var(--primary-color);   
    margin-left: 1rem;
}

/*Map on footer*/
#map                {
    border-radius: 1rem;
    border:  2px solid var(--secondary-color);
    box-shadow: var(--primary-color); /*Box shadow added, not consistent with other shadows from bootstrap*/
}
/*Gallery */
#gallery {
    margin: 10px;
}

/*Used to adjust the size and styling of the images in the gallery*/
.gallery-image {
   max-height: 300px;
   width: 100vw;
   margin: 0.7rem;
   border-radius: 1rem;
    border:  2px solid var(--secondary-color);
    box-shadow: var(--primary-color); /*Box shadow added, not consistent with other shadows from bootstrap*/
}

/*Booking form*/
#booking {
    color: var(--highlight-color-light);
    margin-top: 6rem;
    background-color: rgba(191, 193, 197, 0.88);
    padding-top: 1rem;
    border-radius: 4px;
    border: 2px solid var(--primary-color);
}
#booking h1{
    border-radius: 4px;
    border: 2px solid var(--secondary-color);
    background-color: rgba(39, 85, 145, 0.58); /*Added to give background colour to heading and make it stand out. Colour from the colour scheme used but rgba selected to change opacity*/
}
#booking p {
    color: var(--lowlight-color);
}

/*
.card  {
    min-height: 72vh;
    max-height: 72vh;
    margin: auto;

}
/*
#sports .card img {
    min-height: 254.73px;
    max-height: 254.73px;
}
/*
.card-body {
    min-height: 154.73px;
    max-height: 154.73px;
}  
/*Grid visualisation CSS for testing
.container,
.row {
    border:2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgreen;
}*/


/*Media queries*/
/*Small devices (laptops, 576px and up) */
@media screen and (min-width: 576px)  {
    body { margin: 0;
    }
    .gallery-image {
    max-height: 280px;
   width: 100vw;
    }
}
/*Medium devices (laptops, 768px and up) */ /*Added to make cards align on tablets*/
@media screen and (min-width: 768px)  {
    #sports .card img {
        min-height: 254.73px;

    }
    .card-text { 
        min-height: 168px; /*ensure text area is consistent across cards*/
    }

    .list-group-item {  /*Change layout to ensure list is consistent between cards*/
        min-height: 64.67px;
    }

    #sports .card .booking-button {  /*Added to move button on cards to the right of the button*/
         margin-right: 1rem;
         min-width: 4rem;
    }
    .gallery-image {
        width: 300px;

    }
    #gallery {
        margin: 15px;
     
    }
}
/*Large devices (laptops, 992px and up) */
/*Media query to address the positioning of the booking button across different screen sizes (mobile first approach)*/
@media screen and (min-width: 992px)  {
    .booking-button  {max-width: 100%;
        max-height: 10vh;
    }
    #navigation {
        max-height: 10vh;
    }
    .gallery-image { 
        width: 400px;
}
#gallery {
    margin: 20px;
 
}
}
/*Extra Large devices (laptops, 1200px and up) */
/*Media query to address the positioning of the booking button across different screen sizes (mobile first approach)*/
@media screen and (min-width: 1200px)  {
   #sports .booking-button  {
        min-width: 50px;              
    }
    #sports .card img {
        min-height: 265.84px;
        max-height: 265.84px;

    }
    .gallery-image { 
        width: 18vw;
        /*max-height: 140px;  /*Adjusted the height to ensure consistent image size on larger screens*/
       /* max-width: 240px;  /*Added max width to make images the same size on bigger screens*/
        margin-top: 3rem;
}
#gallery {
    margin: 40px;
}
.gallery-image:hover { /*Added to make images more interactive, images will enlarge when mouse hovers*/
    width: 28%;
    height: 28%;
}
}